{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{%static 'css/style.css' %}" />
  <title>GoFreelab</title>
</head>

<body>
  <div class="container">
    <div class="forms-container">
      <div class="signin-signup">
        <form action="/login/" class="sign-in-form" method="POST">
           {% csrf_token %}
          <h2 class="title">Sign in</h2>
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="text" name="emailid" placeholder="EmailID" required/>
          </div>
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="password" name="password" placeholder="Password" required/>
          </div>
          <p style="color:red">{{error}}</p>
          <a href="/forgot-password/">Forgot Password?</a>
          <input type="submit" value="Login" class="btn solid" />
         
        </form>
        <form action="usrreg" class="sign-up-form" method="POST">
        {% csrf_token %}
          <h2 class="title">Sign up</h2>
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="text" name="name" placeholder="Name" required />
          </div>
          <div class="input-field">
            <i class="fas fa-envelope"></i>
            <input type="email" name="email" placeholder="Email" required/>
          </div>
          <div class="input-field">
            <i class="fas fa-mobile"></i>
            <input type="phonenumber" name="phone" placeholder="Phone Number" required/>
          </div>
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="password" name="password" placeholder="Password" required />
          </div>
          {% if messages %}
          <p style="color:red">{{messages}}</p>
          {% endif %}
          <input type="submit" class="btn" value="Sign up" />
        </form>
      </div>
    </div>

    <div class="panels-container">
      <div class="panel left-panel">
        <div class="content">
          <h3>New here ?</h3>
          <p>

          </p>
          <button class="btn transparent" id="sign-up-btn">
            Sign up
          </button>
        </div>
        <img src="{%static 'img/login.svg'%}" class="image" alt="" />
      </div>
      <div class="panel right-panel">
        <div class="content">
          <h3>One of us ?</h3>
          <p>

          </p>
          <button class="btn transparent" id="sign-in-btn">
            Sign in
          </button>
        </div>
        <img src="{%static 'img/Reg.svg'%}" class="image" alt="" />
      </div>
    </div>
  </div>

  <script src="{%static 'js/app.js' %}"></script>
</body>

</html>